<body>
  <div class="container">
    <p class="titulo">CALCULADORA</p>
    <form class="form">
      <div class="input-container">
        <input type="number" formControlName="variable1" placeholder="Número 1">
        <div *ngIf="form.get('variable1')?.errors?.['required']">Este campo es obligatorio.</div>
        <div *ngIf="form.get('variable1')?.errors?.['min']">El número debe ser mayor o igual a 0.</div>
      </div>
      <div class="input-container">
        <input type="number" formControlName="variable2" placeholder="Número 2">
        <div *ngIf="form.get('variable2')?.errors?.['required']">Este campo es obligatorio.</div>
        <div *ngIf="form.get('variable2')?.errors?.['min']">El número debe ser mayor o igual a 0.</div>
      </div>
      <div class="button-container">
        <p><button mat-raised-button color="primary" (click)="realizarOperacion('SUMAR')">SUMAR</button></p>
        <button mat-raised-button color="primary" (click)="realizarOperacion('RESTAR')">RESTAR</button>
        <button mat-raised-button color="primary" (click)="realizarOperacion('MULTIPLICAR')">MULTIPLICAR</button>
        <button mat-raised-button color="primary" (click)="realizarOperacion('DIVIDIR')">DIVIDIR</button>
      </div>
    </form>
    <div class="resultado-container">
      <p *ngIf="operacionRealizada === 'SUMAR'">Resultado de la suma: {{ resultado }}</p>
      <p *ngIf="operacionRealizada === 'RESTAR'">Resultado de la resta: {{ resultado }}</p>
      <p *ngIf="operacionRealizada === 'MULTIPLICAR'">Resultado de la multiplicación: {{ resultado }}</p>
      <p *ngIf="operacionRealizada === 'DIVIDIR'">Resultado de la división: {{ resultado }}</p>
    </div>
  </div>
</body>
