body{
    font: 30px Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    height: 100vh;

    background-color: #d6cdca;
    text-align:center;
    text-decoration: underline;
}
.titulo{
    padding: 20px;
}
button{
    height: 38px;
    background-color: #1db9e8;
    border: 15;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(14, 12,12);
    text-align: center;
    width: auto;
    margin-top: auto;
}
input{
    height: 38px;
    background-color: #cfcceb;
    border: 15;
    color: rgb(14, 12, 12);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    min-height: 20px;
    border-bottom: 8px solid #1293d4;
    text-align: center;
    width: auto;
}